.ml2 {
    font-weight: 900;
    font-size: 4.5em;
  }

  .vertical-line {
    border-left: 3px solid rgb(162, 162, 162);
    height:250px;
   margin-right: 40px; 
   margin-left: 40px;
  }

  .center-all{
    align-items: center;
  }

/* colored gradient intro text */
  /* .main-intro-text-background{
    background: linear-gradient(
        to right, 
        rgb(84, 115, 66), 
        rgb(10, 146, 236)
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-align: center;
} */

/* Basic styles */






h1{
    font-size: 4.5em;
    font-weight: normal;
}

/* title styles */
.home-title span{
    position: relative;
    overflow: hidden;
    display: block;
    line-height: 1.2;
}

.home-title span::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: white;
    animation: a-ltr-after 2s cubic-bezier(.77,0,.18,1) forwards;
    transform: translateX(-101%);
}

.home-title span::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    animation: a-ltr-before 2s cubic-bezier(.77,0,.18,1) forwards;
    transform: translateX(0);
}

.home-title span:nth-of-type(1)::before,
.home-title span:nth-of-type(1)::after{
    animation-delay: 1s;
}

.home-title span:nth-of-type(2)::before,
.home-title span:nth-of-type(2)::after{
    animation-delay: 1.5s;
}

@keyframes a-ltr-after{
    0% {transform: translateX(-100%)}
    100% {transform: translateX(101%)}
}

@keyframes a-ltr-before{
    0% {transform: translateX(0)}
    100% {transform: translateX(200%)}
}

.diamond-animation {
  
  clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 0%);
  animation: clipUp6 4s infinite;
}

@keyframes clipUp6 {
  from {
    clip-path: polygon(25% 25%, 50% 50%, 75% 75%, 100% 100%);
  }
}